{% extends "layout.html" %} {% block title %} Details {% endblock %} {% block
content %} {% if not newJson['data'][0]['artworks']|length > 0 or is_mobile%}
<div
  id="details-container"
  style="
background: url(https:{{ newJson['data'][0]['cover']['url'] }});
background-size: cover;
background-position: 50% 10%;"
>
  {% else %}
  <div
    id="details-container"
    style="
  background: url(https:{{ newJson['data'][0]['artworks'][0]['url'] }});
  background-size: cover;
  background-position: 50% 10%;
  "
  >
    {% endif %}
    <div id="details-content">
      <br />
      <br />
      <h1>{{ newJson["data"][0].name }}</h1>
      <div>
        <section id="details-content-section">
          <section>
            <img src="https:{{ newJson['data'][0]['cover']['url'] }}" />
            <div class="carousel">
              {% for item in newJson["data"][0]['artworks'] %}
              <img src="{{ item['url'] }}" alt="" class="carousel-item" />
              {%endfor%}
            </div>
          </section>
          <div>
            <section>
              <div>
                <h3>Summary</h3>
                <p>{{ newJson["data"][0].summary }}</p>
              </div>
              <div>
                <h3>Genres</h3>
                <div id="genre-container">
                  {% for genre in newJson["data"][0]["genres"] %}
                  <p id="genre">{{ genre["name"] }}</p>
                  {% endfor %}
                </div>
              </div>
              <div>
                <h3>Platforms</h3>
                {% if newJson["data"][0]['platforms']|length %}
                <ul class="platforms">
                  {% for platform in newJson["data"][0]["platforms"]%} 
                  <!-- {% print(platform["name"]) %} -->
                  {% if
                  platform["platform_logo"] %}
                  <li>
                    <img
                      src='https:{{platform["platform_logo"]["url"]}}'
                      alt="Game Platform Logo"
                    />
                    <p class="platform-name">{{platform['name']}}</p>
                  </li>
                  {% else %}
                  <li>
                    <img
                      src="https://via.placeholder.com/300x200.png?text=Image+Not+Found"
                      alt="Game Platform Logo"
                    />
                    <p class="platform-name">{{platform['name']}}</p>
                  </li>
                  {% endif %} {% endfor %}
                </ul>
                {% else %}
                <p id="no-platforms-exception">
                  No platforms were registered for this game
                </p>
                {% endif %}
              </div>
              <section>
                <div>
                  <h3 style="margin-bottom: 15px">Release Date</h3>
                  <p>{{ newJson["data"][0].first_release_date}}</p>
                </div>
                <div id="rating-container-details">
                  <h3 style="margin-bottom: 6px">Rating</h3>
                  <section class="stars">
                    <div class="star-rating">
                      <img
                        src="../static/img/Star_full.svg.png"
                        alt="Full star"
                      />
                      <img
                        src="../static/img/Star_full.svg.png"
                        alt="Full star"
                      />
                      <img
                        src="../static/img/Star_full.svg.png"
                        alt="Full star"
                      />
                      <img
                        src="../static/img/Star_full.svg.png"
                        alt="Full star"
                      />
                      <img
                        src="../static/img/Star_full.svg.png"
                        alt="Full star"
                      />
                    </div>
                  </section>

                  <h4 id="rating-number">
                    ({{"%.2f"|format(newJson["data"][0].rating/20)}}/5.00)
                  </h4>
                  <span style="font-size: 10px">
                    Based on {{newJson["data"][0].rating_count}} votes
                  </span>
                </div>
              </section>
              <div>
                <h3 style="font-size: 1.5rem">Rate this game:</h3>
                {% include 'rate-game.html'%}
              </div>
            </section>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
<script src="{{ url_for('static', filename='scripts/profile.js') }}"></script>

{% endblock %}
