{% extends "layout.html" %} {% block title %} Steam verde {% endblock %} {% block content %}
<div>
    <h1>Recover Password</h1>
    <div class="form-box">
        <!-- Se o recover code não tiver sido enviado, aparece o input de email -->
        {% if not code_sent %}
            <form action="{{ url_for('forgotPassword') }}" method="POST">
                <div class="input-field">
                    <label for="email"><b>Email</b></label>
                    <input id="email" type="text" name="email" value="{{ request.form['email'] }}">
                </div>
                <p class="spacing" style="color: lightslategray; font-size: 14px;">* We will send you a code so you can recover your password</p>
                <button type="submit">Send email</button>
            </form>
        <!-- Se não, mostra o input para o código de recuperação -->
        {% else %}
            <form action="{{ url_for('setPassword') }}" method="GET">
                <div class="input-field">
                    <label for="recover-code"><b>Recover Code</b></label>
                    <input id="recover-code" type="text" name="recover-code" value="{{ request.form['recover-code'] }}">
                </div>
                <button type="submit">Confirm code</button>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}