<!DOCTYPE html>
<html>

<head>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var elems = document.querySelectorAll(".sidenav");
      var instances = M.Sidenav.init(elems);
    });
  </script>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %} {% endblock %}</title>
  <link rel="icon" href="../static/img/channels4_profile.png" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/index.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/navbar.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/footer.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/cards.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}" />
  <script src="{{ url_for('static', filename='scripts/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='scripts/register.js') }}"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/">
        <img class="brand-logo" src="../static/img/channels4_profile.png" alt="steam-verde-icon" />
      </a>
    </div>
  </nav>

  <main>{% block content %}{% endblock %}</main>
  <footer class="page-footer">
    <div>
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">
            You can use rows and columns here to organize your footer content.
          </p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div>
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>

</html>