{% extends "layout.html" %} {% block title %} Steam verde {% endblock %} {%
block content %}
<div class="container">
  <h1 class="title">Best rated games</h1>

  <section class="games-container">
    {% for item in newJson %} {% if 'game' in item %}
    <div class="game-card">
      <img src="https:{{ item['url'] }}" />
      <h2>{{ item['game'].name }}</h2>
      <h2>{{ item['game'].name }}</h2>
      <button>placeholder</button>
    </div>
    {% endif %} {% endfor %}
  </section>

  {% endblock %}
</div>
