.form-box {
    text-align: center;
    margin: auto; 
    width: 50%;
}

.input-field {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.submit-button {
    background-color: rgb(99, 155, 54);
    /* rgba(18, 112, 0) */
}

.submit-button:hover {
    background-color: rgba(18, 112, 0);
}