nav {
  background-color: rgb(118, 184, 63);
  min-height: 64px;
}

nav img {
  margin: 4px 0 0 50px;
  height: 55px;
  width: 55px;
}
nav a:hover {
  color: white;
}

@media only screen and (max-width: 993px) {
  nav img {
    margin: 4px 0 0 0;
  }
}

.sidenav {
  padding: 10px;
}

nav ul a i {
  font-size: 20px;
}

nav ul a:hover {
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: whitesmoke;
  transition: 0.6s ease-out;
}
