.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.about-user {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.favorites-title {
  text-align: center;
  font-family: "Libre Baskerville", sans-serif;
  margin: 30px 0;
}

.profile-image {
  position: absolute;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 200px;
  width: 200px;
  border: 3px solid #609634;
}

.edit-image {
  background-color: aliceblue;
  background-image: url(../img/i-edit.png);
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  position: relative;
  left: 140px;
  top: 145px;
  bottom: 0;
  right: 0;
  border: 3px solid #76b83f;
}

.edit-image:hover {
  opacity: 0.8;
  cursor: pointer;
}

input[type="file"] {
  display: none;
}

.created {
  float: left;
  /* position: absolute !important; */
  margin-right: 40%;
  margin-bottom: 20px;
}

.options {
  vertical-align: middle;
  text-align: left;
}

#save-profile {
  display: inline-block;
}

.change-password {
  display: inline-block;
  margin-left: 10px;
  bottom: 0;
}

.carousel {
  position: relative;
}
