.rate-container {
  > h1 {
    font-size: 1rem;
  }
  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    > input {
      text-align: center;
    }
  }
}

#ratingStars {
  margin-bottom: 20px;
}

.stars {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
}

.stars img {
  width: 30px;
  height: 30px;
}
